@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-heading: 'Press Start 2P', monospace;
$font-text: 'Roboto', sans-serif;
$color-bg: #0a0a0a;
$color-primary: #39ff14;
$color-secondary: #a544ff;
$color-accent: #ff6f00;
$color-text: #cccccc;
$color-border: #333333;
