@use "./variables" as v;
@use "../mixins/media" as mq;

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  gap: 1em;
  margin: 5em auto;
  padding: 0 1.5em;

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  &__image {
    display: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border: 2px solid v.$color-border;
    border-radius: 8px;
    padding: 2em;

    input,
    select,
    textarea {
      padding: 0.5em;
      border: 1px solid v.$color-border;
      border-radius: 4px;
      background-color: v.$color-bg;
      color: v.$color-primary;
    }
    select option[value="primary"] {
      color: v.$color-primary;
    }

    button {
      padding: 0.75em;
      border: none;
      border-radius: 4px;
      background-color: v.$color-primary;
      color: v.$color-bg;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    label {
      color: v.$color-primary;
      font-size: small;
    }

    &--gender {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      gap: 1em;
      overflow-x: auto;
      white-space: nowrap;
    }

    .contact__radio-group {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      white-space: nowrap;

      label {
        display: flex;
        align-items: center;
        gap: 0.25em;
        white-space: nowrap;
        color: v.$color-text;
      }
    }
  }

  &__field {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.3em;
  }

  @include mq.desktop {
    &__content {
      flex-direction: row;
    }

    &__image {
      display: block;
      flex: 1 1 50%;
    }

    &__form {
      flex: 1 1 50%;
      width: 100%;
      max-width: none;
      margin: 0;
    }

    &__row--name {
      flex-direction: row;
      gap: 1em;
    }

    &__row--gender {
      flex-direction: row;
      .contact__radio-group {
        flex-wrap: nowrap;
        gap: 0.5em;
      }
    }
  }
}
