@use './variables' as v;
@use '../mixins/media' as mq;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 0;
  width: 100%;

  &__home-icon {
    display: none;
  }
  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__menu {
    position: fixed;
    z-index: 4;
    inset: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    transform: translateX(100%);
    transition: 0.2s ease;
    &__item {
      font-size: 3em;
      &--active {
        color: v.$color-accent;
      }
    }

    &__close {
      position: fixed;
      z-index: 5;
      top: 1.5em;
      right: 1.5em;
      font-size: 1.85em;
      color: v.$color-primary;
    }
  }

  &__toggle {
    position: fixed;
    z-index: 5;
    top: 1.5em;
    right: 1.5em;
    font-size: 1.5em;
    color: v.$color-primary;
  }

  &__checkbox:checked ~ &__menu {
    transform: translateX(0);
  }
  &__checkbox:checked ~ &__toggle {
    display: none;
  }

  @include mq.desktop {
    height: 5vh;
    padding: 0 2em;
    justify-content: space-between;

    &__home-icon {
      display: inline-flex;
    }
    &__toggle {
      display: none;
    }

    &__menu {
      position: relative;
      flex-direction: row;
      transform: none;
      background: none;
      height: 100%;
      justify-content: flex-end;
      gap: 2em;
      &__item {
        font-size: 1.15em;
        &--active {
          color: v.$color-accent;
        }
        &--home {
          display: none;
        }
      }
      &__close {
        display: none;
      }
    }
  }
}
